.offer__content {
  max-width: 100%;
  padding: 122px 0 135px 0;
}

.offer__content h3 {
  font-size: 50px;
  margin-bottom: 25px;
}
.offer__content h4 {
  font-size: 30px;
}
.offer__content p {
  color: #555555;
  margin-bottom: 1rem;
}
.offer__content button {
  border: 1px solid #384aeb;
  border-radius: 30px;
  font-weight: 500;
  padding: 12px 50px;
  background: #384aeb;
  color: #fff;
  transition: all 0.4s ease;
}

.offer__content button:hover {
  border-color: #384aeb;
  background: transparent;
  color: #222;
}
