.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 2;
}

.header .nav {
  height: 89px;
}

.header .navbar .nav-item {
  margin-right: 25px;
}

.header__actions li {
  margin-right: 15px;
}

.header__actions__buy button {
  margin-left: 40px;
  padding: 10px 45px;
  color: #222;
  border-color: #eeeeee;
  border-radius: 30px;
}

.header__actions__buy button:hover {
  border-color: #384aeb;
  background: transparent;
  color: #222;
}
